.login-window {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
}

.login-window__header {
  margin-bottom: 70px;
  font-size: 25px;
  font-weight: 600;
}

.login-window__clock {
  margin-top: 70px;
  font-size: 20px;
}

.login-window__container {
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  align-items: center;
  width: 550px;
  height: 350px;
}
