.login-window {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(15px);
  color: white;
}

.login-window__header {
  margin-bottom: 70px;
  font-size: 25px;
  font-weight: 600;
}

.login-window__container {
  width: 550px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: black;
}

.login-window__text {
  font-size: 18px;
  font-weight: 800;
}

.login-form {
  width: 100%;
  text-align: center;
}

.login-form input {
  margin-bottom: 50px;
  width: 35%;
  height: 35px;
  border: none;
  border-bottom: 1px solid white;
  font-size: 20px;
  text-align: center;
  color: white;
  background: none;
}

.login-form input:focus {
  outline: none;
}
