@import "reset.css";
@import "login.css";

* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;
}

.hidden {
  display: none;
}

/* background image
.background {
  z-index: -99;
  position: fixed;
  top: 0;
}

.background img {
  width: 100%;
  height: 100%;
} */

/* main, qutoes container */
.container {
  width: 1200px;
}

/* main screen */
.main-screen {
  margin-bottom: 30px;
  height: 600px;
  overflow: hidden;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
}

.main-screen__box {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main-screen__inside-box {
  width: 100%;
  height: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* screen-left */
.main-screen__left {
  padding: 15px 15px 0px 15px;
  width: 25%;
  background-color: rgba(173, 173, 173, 0.5);
}

.username {
  height: 100px;
  line-height: 200%;
}

.username__header {
  margin-bottom: 20px;
  align-self: flex-start;
  font-size: 30px;
  font-weight: 600;
}

.username__info {
  width: 100%;
  display: flex;
  justify-content: center;
}

.username__info div:first-child,
.username__info div:last-child {
  width: 10%;
}

.username__info div:nth-child(2) {
  width: 80%;
  text-align: center;
}

.username__name {
  font-size: 40px;
  font-weight: 600;
}

.username__reset {
  font-size: 25px;
}

.username__reset:focus {
  cursor: pointer;
}

.weather {
  height: 200px;
  display: flex;
  justify-content: flex-start;
}

.weather__header {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
}

.weather__sky {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather__icon {
  font-size: 50px;
}

.weather__name {
  font-size: 20px;
  font-weight: 700;
}

.weather__info {
  width: 100%;
  height: 100%;
  display: flex;
}

.weather__info-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weather__info-left i {
  margin-bottom: 10px;
  font-size: 30px;
}

.weather__temp {
  margin-left: 10px;
  font-weight: 700;
}

.weather__info-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 600;
}

.weather__humidity {
  margin-bottom: 5px;
}

.weather__info-right i {
  width: 18px;
}

.weather__name .links div {
  width: 100%;
}

.developer-links {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.developer-link {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
}

.developer-link:visited {
  color: black;
}

.developer-link__icon {
  margin-right: 5px;
  width: 25px;
  height: 25px;
}

/* screen-todo (center) */
.main-screen__todo {
  width: 50%;
}

.todo-header {
  margin-bottom: 50px;
  font-size: 30px;
  font-weight: 900;
}

.todo-form {
  padding: 0px 10px;
}

.todo-form input {
  margin-bottom: 50px;
  width: 300px;
  height: 35px;
  border: none;
  border-bottom: 1px solid black;
  font-size: 20px;
}

.todo-form input:focus {
  outline: none;
}

.todo-list {
  padding-left: 50px;
}

.todo-list li {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 700;
}

/* screen-right */
.main-screen__right {
  width: 25%;
}

/* quotes */

.quotes__container {
  height: 50px;
  display: flex;
  justify-content: center;
}

.quote {
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: white;
}
