@import "reset.css";
@import "login.css";

/* 글씨 안 보여서 임시로 설정 */
span,
p,
h1,
h2 {
  color: red;
}

body {
  height: 100%;
}

.hidden {
  display: none;
}

.reset__user {
  text-transform: uppercase;
}

/* main screen */

.main-screen {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background-color: white;
}

.main-screen__container {
  margin: 30px 20px;
  padding: 20px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: beige;
}

.main-screen__box {
  margin: 0px 15px;
  width: 300px;
  height: 620px;
  background-color: white;
}

.main-screen__box:last-child {
  width: 80px;
}
