@import "reset.css";
@import "login.css";
@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@500&family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;
}

.hidden {
  display: none;
}

/* main, qutoes container */
.container {
  width: 1200px;
}

/* main screen */
.main-screen {
  margin-bottom: 30px;
  height: 600px;
  overflow: hidden;
  display: flex;
  align-items: center;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 10px rgba(1, 1, 1, 0.3);
}

.main-screen__box {
  padding: 15px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main-screen__inside-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box__header {
  margin-bottom: 20px;
  align-self: flex-start;
  font-size: 20px;
  font-weight: 800;
}

.weather__set,
.time__set,
.d-day__set,
.todo-list li {
  transition: box-shadow 0.2s linear;
}

.box__shadow:hover {
  box-shadow: 2px 2px 5px rgba(1, 1, 1, 0.3);
}

/* screen-left */
.main-screen__left {
  width: 30%;
  background-color: rgba(233, 240, 255, 0.5);
}

.username {
  margin-bottom: 60px;
  height: 100px;
  line-height: 200%;
}

.username__info {
  width: 100%;
  display: flex;
  justify-content: center;
}

.username__info div:first-child,
.username__info div:last-child {
  width: 10%;
}

.username__info div:nth-child(2) {
  width: 80%;
  text-align: center;
}

.username__info div:last-child > i {
  line-height: 33.5px;
  opacity: 0.6;
}

.username__name {
  font-size: 40px;
  font-weight: 600;
}

.username__reset {
  font-size: 25px;
}

.username__reset:hover {
  cursor: pointer;
}

.weather {
  height: 300px;
  display: flex;
  justify-content: flex-start;
}

.weather__set {
  padding: 5px;
  width: 100%;
  border-radius: 15px;
  background-color: white;
}

.weather__sky {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather__icon {
  font-size: 70px;
}

.weather__name {
  font-size: 30px;
  font-weight: 600;
}

.weather__info {
  width: 100%;
  display: flex;
}

.weather__info-left {
  padding-top: 5px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weather__info-left i {
  font-size: 40px;
}

.weather__temp {
  margin-top: 5px;
  margin-left: 10px;
  font-size: 18px;
  font-weight: 600;
}

.weather__info-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 600;
}

.weather__humidity {
  margin-bottom: 10px;
}

.weather__info-right i {
  width: 30px;
  font-size: 25px;
}

.developer-links {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.developer-link {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
  font-weight: 600;
}

.developer-link:visited {
  color: black;
}

.developer-link__icon {
  margin-right: 5px;
  width: 25px;
  height: 25px;
}

/* screen-todo (center) */
.main-screen__todo {
  width: 45%;
}

.todo-header {
  margin-bottom: 50px;
  font-size: 30px;
  font-weight: 900;
}

.todo-form {
  padding: 0px 10px;
  font-family: "Edu NSW ACT Foundation", cursive;
}

.todo-form input {
  margin-bottom: 50px;
  width: 90%;
  height: 35px;
  border: none;
  border-bottom: 1px solid black;
  font-family: "Edu NSW ACT Foundation", cursive;
  font-size: 20px;
  background: none;
}

.todo-form input:focus {
  outline: none;
}

.todo-list {
  padding-left: 30px;
}

.todo-list li {
  margin-bottom: 20px;
  padding: 10px;
  width: 80%;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  border-radius: 10px;
}

.todo-list button {
  margin-right: 10px;
  padding: 0px 10px 0px 10px;
  font-family: "Edu NSW ACT Foundation", cursive;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 15px;
  background: none;
  color: red;
}

.todo-list button:hover {
  cursor: pointer;
}

/* screen-right */
.main-screen__right {
  width: 25%;
  background-color: rgba(255, 238, 233, 0.5);
}

.time {
  margin-bottom: 20px;
}

.time__header {
  align-self: flex-start;
}

.time__set {
  padding: 20px 35px 15px 35px;
  width: 100%;
  text-align: center;
  border-radius: 15px;
  background-color: white;
}

.dateToday {
  margin-bottom: 15px;
  font-size: 15px;
  font-weight: 700;
}

.clock {
  font-size: 50px;
  font-weight: 900;
}

.d-day__header {
  align-self: flex-start;
}

.d-day__set {
  width: 100%;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: white;
}

.d-day__text {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
}

.d-day button,
.d-day__form input {
  font-weight: 600;
  font-size: 15px;
}

.d-day button:hover,
.d-day__form input:hover {
  cursor: pointer;
}

.d-day__form input[type="date"]:focus {
  outline: none;
}

.d-day button,
.d-day__form input[type="submit"] {
  background: none;
  border: 1.5px solid #ff8d8d;
  border-radius: 5px;
}

.d-day__result {
  margin-bottom: 20px;
  font-size: 35px;
  font-weight: 700;
}

.random-image {
  margin-top: 20px;
  justify-content: flex-start;
  overflow: hidden;
}

.random-image__box img {
  width: 100%;
  height: 160px;
  border-radius: 10px;
}

/* quotes */

.quotes__container {
  height: 70px;
  display: flex;
  justify-content: center;
}

.quote {
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(1, 1, 1, 0.3);
}

.quote span:first-child {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 700;
}

.quote span:last-child {
  padding-right: 10px;
  font-size: 20px;
  font-weight: 800;
  opacity: 0.5;
}
